// Estilos para el contenedor principal de la aplicación
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  // Estilos para el encabezado
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  // Estilos para el cuadro de búsqueda
  .input-container {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
  }
  
  // Estilos para la tarjeta de clima
  // Estilos para la tarjeta de clima mejorada
.card {
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #3498db, #2980b9);
    color: #fff;
    overflow: hidden;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  img {
    width: 180px;
    height: 180px;
    margin-top: 10px;
  }
  
  // Estilos para el mensaje de "City Not Found" mejorado
  .error-message {
    font-size: 24px;
    color: #e74c3c;
    margin-top: 20px;
  }
  
  